.blog{
    margin: 20px;
}
.sub{
    background-color: #1A242E;
}
.sub_email_section{
    width: 40%;
    border: 1px solid transparent;
    border-radius: 5px;
 

}
[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text);
    color: #d9d9d9;
    padding-left: 5px;
    border: none;
  }
  .sub_email{
    background-color: #1A242E;
    border: none;
  }
  h4{
    font-size: 50px;
  }
  h6{
    font-size: 15px;
    color: #03a9f4;
    top: 100px;
  }
.article_holder{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 2px solid white;
   
  }
.article_holder img{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    margin: 20px;

}
.ah_001{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.ah_001 h3{
    font-size: 40px;
}
.ah_001 h3:hover, .ah_001 p:hover{
    color: #03a9f4;
    cursor: pointer;
}

.ah_misc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}
.hashtags{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;

}
.read_date{
   margin: 0px 10px;
}
.blog_end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0px 0px 0px;
}
.show_more{
    background-color: #d9d9d9;
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    border-radius: 15px;
    width: 200px;
    text-align: center;
    margin: auto;
    cursor: pointer;
}
.show_more i{
    font-size: xx-large;
}
.show_more:hover{
    background-color: #03a9f4;
    transition: ease-in .1s   
}
.want_to{
    font-size: xx-large;
    text-align: center;
}
.sub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    height: 60px;
    align-items: center;
    border-radius: 10px;
}
.sub input{
    width: 400px;
    color: white;
    outline: none;
}
.sub_button button{
    background-color: #03a9f4;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}
.sub_button button:hover{
    background-color: #ffffff;
}
.show_more a{
    text-decoration: none;
    color: black;
}


