.section-header_title{
    font-size: 40px;
    text-align: center;
    padding: 20px 0px 0px 0px;
}



.admin_side{
    display:grid;
    grid-template-columns: auto 300px;
    margin: 100px 10px 100px 0px;
  }
.admin_side_001{
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    
}
.admin_side_004{
    display: grid;
   grid-template-columns: auto auto;
   justify-content: space-between;

}
.admin_search{
    justify-content: center;
  
    
}
  .admin_search input{
  width: 35rem;
    height: 5em;
    border-radius: 30px;
    padding: 5px 5px 5px 20px;
    position: relative;
    top: 15px;
    background-color: #1A242E;
    color: #d9d9d9;
  }

  .admin_search button{
    position: relative;
    left: -75px;
    font-size: 30px;
    bottom: -25px;
    background-color: #1A242E;
    border: none;

  }
  .admin_search i:hover{
    color: #03a9f4;
    cursor: pointer;
  }
  /* Artcle Add Div Section CSS*/
.add_article{
    width: 20rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 25px;
    background-color: #1A242E;
}
.add_article:hover{
    background-color: rgba(26, 36, 46, .7);
}
.add_article a:hover{
    color: #03a9f4;
}
.add_article a{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.add_article i{
    position: relative;
    top: 25px;
}
.add_article >p{
    text-align: center;
}


.Recent_Table table{
    border: 1px solid #d9d9d9;
    background-color: #1A242E;
}
.Recent_Table th, .Recent_Table td{
    border: 1px solid #d9d9d9;
    padding: 5px 50px 5px 5px;
}

.Recent_Table h2{
    font-size: 50px;
}
.All_Table table{
    color: black;
    border: 1px solid black;
    background-color: #d9d9d9;
}
.All_Table th, .All_Table td{
    border: 1px solid black;
    padding: 5px 50px 5px 5px;
}
.All_Table h2{
    font-size: 50px;
}
table  a{
    text-decoration: none;
    color: black;
}
table a:hover{
    color: #03a9f4;
}


  .recent{
      width: 900px;
  }
  .recent h4{
      font-size: 50px;
      height: 20px;
    }
    .recent h6{
      font-size: 15px;
      color: #03a9f4;
      top: 100px;
    }

    
  
  /* CSS for the side bar section*/
  .side_bar{
      position: relative;
      
  }
  .side_popular{
      background-color: #1A242E;
      height: auto;
      width: 300px;
      border-radius: 20px;
      padding: 5px 10px 5px 10px;   
  }
  .side_popular h2{
      color: #03a9f4;
  }
  .pp_line{
      height: 3px;
      width: 80px;
      background-color: #03a9f4;
      position: relative;
      top: -15px;
  }
  .popular{
      display: flex;
      flex-direction: row;
      margin: 10px 5px;
      border: 1px solid black;
      border-radius: 20px;
  }
  .popular img{
      width: 70px;
      height: 70px;
      border-radius: 100px;
      position: relative;
      top: 10px;
      margin: 5px;
  }
  .popular_001{
      position: relative;
      top: -20px;
  }
  .popular_001 h4{
      height: 15px;
  }
  .pp_misc{
      display: flex;
      flex-direction: row;
      font-size: 10px;
  }
  .pp_share_tags{
      display: flex;
      flex-direction: column;
  }
  .pp_hashtags{
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 5px;
      height: 20px;
  }
  
  .share_icons{
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      column-gap: 5px;
      justify-content: flex-start;
      
  }
  .share_icons i{
      position: relative;
      top: 10px;
  }
  .share_icons i:hover{
      color: #03a9f4;
  }
  
  /*CSS For Side Comments section*/
  .side_comments{
      background-color: #1A242E;
      height: auto;
      width: 300px;
      border-radius: 20px;
      padding: 5px 10px 5px 10px; 
      margin-top: 100px;  
  }
  .side_comments h2{
      color: #03a9f4;
  }
  .comment_001{
      display: flex;
      flex-direction: column;
      border: 1px solid #d9d9d9;
      border-radius: 20px;
      padding: 5px;
      margin: 10px 5px;
  }
  .comment_001 >q{
      font-size: 10px;
      text-align: justify;
  }
  .comment_002{
      display: flex;
      flex-direction: row;
      padding: 5px;
      justify-content: flex-start;
  }
  .comment_002 img{
      width: 70px;
      height: 70px;
      border-radius: 100px;
      margin-right: 10px;
  }
  .comment_003{
      position:relative;
      top: -10px;
      height: 5px;
  }
  .comment_003 >p{
      font-size: 10px;
  }
  
  /*CSS For The MainBlog End section*/
  .main_blog_end{
      margin: 50px;
      border-top: 2px solid #d9d9d9;
      padding: 50px;
      display:flex;
      flex-direction: row;
      justify-content: center;
  }
  .main_blog_end button{
      font-size: 20px;
      font-weight: 400px;
      color:#ffffff;
      border: 1px solid #03a9f4;
      border-left: 2px solid #ffffff;
      border-radius: 50px;
      border-width: 10px;
      padding: 10px;
      width: 250px;
      height: 80px;
      justify-self: center;
      margin: 30px;
      background-color: black;
  
  }
  .main_blog_end button:hover{
      border: 1px solid #ffffff;
      border-radius: 50px;
      border-left: 2px solid #03a9f4;
      border-width: 10px;
  }
  .scrollDown{
      display: block;
      position: fixed;
      right: 0;
      bottom: 0;
      
  
  }
  .scrollDown:hover{
      opacity: 0.4;
      cursor:pointer;
  }
  .scrollDown a{
      text-decoration: none;
  }
  .scrollDown i{
      color: white;
      font-size: 40px;
      padding: 10px;
   
  }
  /*CSS FOR NEWLY ADDED BLOGS*/
  .all_blogs{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5px;
    row-gap: 10px;

  }
  .blog_holder{
    border-radius: 10px;
    width: 20rem;   
    background-color:black;
    box-shadow: 0 4px 8px 0 rgba(5, 130, 255, 0.2), 0 6px 20px 0 rgba(8, 182, 212, 0.19); 
  }
  .blog_holder:hover{
    background-color: #1A242E;  
    box-shadow: 0 4px 8px 0 rgba(26, 36, 46, 0.2), 0 6px 20px 0 rgba(5, 32, 212, 0.19); 
  }
  .img_sctn{
    width: 20rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
  }
  .img_sctn img{
    width: 20rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
  }
  .ah_001{
    padding: 5px;
  }
  .ah_001 h3{
    padding-bottom: 15px;
    border-bottom: 1px solid white;
  }
  .ah_001 h3 a{
    text-decoration: none;
    color: #ffffff;
  }
  .ah_001 p a{
    text-decoration: none;
    color:#03a9f4;
  }
  .ah_misc{
    background-color: #1A242E;
    border-radius: 5px;
    width: auto;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
  }
  .ah_misc{
    background-color: black;
  }
  .category{
    
    padding: 5px;
    border-radius: 5px;
    text-align: center;
  }
  .read_date{
    font-size: 10px;
  }
  .controller{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0px;
  }
  .controller button{
    margin-right: 20px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    width: 4rem;
    text-align: center;
  }

  .controller button:hover{
    background-color: rgba(250, 250, 250,.8);
    cursor: pointer;
    
  }
  .controller a{
    color: #ffffff;
    text-decoration: none;
        
  }


  @media only screen and (max-width: 390px) {
    .section-header_title{
        font-size: 20px;
        text-align: center;
        padding: 50px 0px 0px 0px;
    }
    
    
    
    .admin_side{
        display:grid;
        grid-template-columns: auto;
        margin: 5px 5px;
      }
    .admin_side_001{
        padding: 10px;
        display: flex;
        flex-direction: column;
        
    }
      .admin_search input{
        width: 21rem;
        height: 5em;
        border-radius: 30px;
        padding: 5px 5px 5px 20px;
        margin: auto;
        background-color: #1A242E;
        color: #d9d9d9;
      }
      .admin_search i{
        position: relative;
        left: -80px;
        font-size: 30px;
        bottom: -10px;
    
      }
      .admin_search i:hover{
        color: #03a9f4;
      }
      /* Artcle Add Div Section CSS*/
    .add_article{
        width: 20rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 25px;
        margin: 2rem 0rem;
        background-color: #1A242E;
    }
    .add_article:hover{
        background-color: rgba(26, 36, 46, .7);
    }
    .add_article a:hover{
        color: #03a9f4;
    }
    .add_article a{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
        text-decoration: none;
        color: white;
        cursor: pointer;
        margin: auto;
    }
    .add_article i{
        position: relative;
        top: 40px;
    }
    .add_article >p{
        text-align: center;
        font-size: 15px;
    }
    
    
    
    /*table tr:nth-child(odd) {
        background-color: #21e6e6;
      }
    */
    
    .Recent_Table table{
        border: 1px solid #d9d9d9;
        background-color: #1A242E;
    }
    .Recent_Table th, .Recent_Table td{
        border: 1px solid #d9d9d9;
        padding: 5px 5px 5px 5px;
    }
    
    .Recent_Table h2{
        font-size: 30px;
    }
    .All_Table table{
        color: black;
        border: 1px solid black;
        background-color: #d9d9d9;
    }
    .All_Table th, .All_Table td{
        border: 1px solid black;
        padding: 5px 5px 5px 5px;
    }
    .All_Table h2{
        font-size: 30px;
    }
    table  a{
        text-decoration: none;
        color: black;
    }
    table a:hover{
        color: #03a9f4;
    }
    
    
      .recent{
          width: 900px;
      }
      .recent h4{
          font-size: 50px;
          height: 20px;
        }
        .recent h6{
          font-size: 15px;
          color: #03a9f4;
          top: 100px;
        }
    
        
      
      /* CSS for the side bar section*/
      .side_bar{
          position: relative;
          
      }
      .side_popular{
          background-color: #1A242E;
          height: auto;
          width: 300px;
          border-radius: 20px;
          padding: 5px 10px 5px 10px;   
      }
      .side_popular h2{
          color: #03a9f4;
      }
      .pp_line{
          height: 3px;
          width: 80px;
          background-color: #03a9f4;
          position: relative;
          top: -15px;
      }
      .popular{
          display: flex;
          flex-direction: row;
          margin: 10px 5px;
          border: 1px solid black;
          border-radius: 20px;
      }
      .popular img{
          width: 70px;
          height: 70px;
          border-radius: 100px;
          position: relative;
          top: 10px;
          margin: 5px;
      }
      .popular_001{
          position: relative;
          top: -20px;
      }
      .popular_001 h4{
          height: 15px;
      }
      .pp_misc{
          display: flex;
          flex-direction: row;
          font-size: 10px;
      }
      .pp_share_tags{
          display: flex;
          flex-direction: column;
      }
      .pp_hashtags{
          display: grid;
          grid-template-columns: auto auto;
          column-gap: 5px;
          height: 20px;
      }
      
      .share_icons{
          display: grid;
          grid-template-columns: auto auto auto auto auto;
          column-gap: 5px;
          justify-content: flex-start;
          
      }
      .share_icons i{
          position: relative;
          top: 10px;
      }
      .share_icons i:hover{
          color: #03a9f4;
      }
      
      /*CSS For Side Comments section*/
      .side_comments{
          background-color: #1A242E;
          height: auto;
          width: 300px;
          border-radius: 20px;
          padding: 5px 10px 5px 10px; 
          margin-top: 100px;  
      }
      .side_comments h2{
          color: #03a9f4;
      }
      .comment_001{
          display: flex;
          flex-direction: column;
          border: 1px solid #d9d9d9;
          border-radius: 20px;
          padding: 5px;
          margin: 10px 5px;
      }
      .comment_001 >q{
          font-size: 10px;
          text-align: justify;
      }
      .comment_002{
          display: flex;
          flex-direction: row;
          padding: 5px;
          justify-content: flex-start;
      }
      .comment_002 img{
          width: 70px;
          height: 70px;
          border-radius: 100px;
          margin-right: 10px;
      }
      .comment_003{
          position:relative;
          top: -10px;
          height: 5px;
      }
      .comment_003 >p{
          font-size: 10px;
      }
      
      /*CSS For The MainBlog End section*/
      .main_blog_end{
          margin: 50px;
          border-top: 2px solid #d9d9d9;
          padding: 50px;
          display:flex;
          flex-direction: row;
          justify-content: center;
      }
      .main_blog_end button{
          font-size: 20px;
          font-weight: 400px;
          color:#ffffff;
          border: 1px solid #03a9f4;
          border-left: 2px solid #ffffff;
          border-radius: 50px;
          border-width: 10px;
          padding: 10px;
          width: 250px;
          height: 80px;
          justify-self: center;
          margin: 30px;
          background-color: black;
      
      }
      .main_blog_end button:hover{
          border: 1px solid #ffffff;
          border-radius: 50px;
          border-left: 2px solid #03a9f4;
          border-width: 10px;
      }
      .scrollDown{
          display: block;
          position: fixed;
          right: 0;
          bottom: 0;
          
      
      }
      .scrollDown:hover{
          opacity: 0.4;
          cursor:pointer;
      }
      .scrollDown a{
          text-decoration: none;
      }
      .scrollDown i{
          color: white;
          font-size: 40px;
          padding: 10px;
       
      }
      #menu_scrolling {
        display: relative;
        position: fixed;
        right: 30px;
        top: 10px;
        cursor: pointer;
        font-size: 35px;
    }
    .mobile_nav{
        padding: 1vh;
        color: rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        width: 22rem;
        height: 60px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        left: 0; 
        margin: 0px 10px;
      }
    
}
